#!/bin/sh

alias ls='exa -la'
alias aliases='cat ~/.aliases ~/.aliases_private ~/.functions ~/.functions_private'
alias apk-version='android-version $APK_DIR/android-release.apk'
alias point-master='git fetch && git checkout $(git rev-parse origin/master)'
alias ipl='yarn install --pure-lockfile'
alias build-android='rm -rf build && ./gradlew clean build assembleRelease'
alias s='git status'
alias d='git diff'
alias less='less -m -N -g -i -J --line-numbers --underline-special'
alias more='less'
alias hcat="highlight $1 --out-format xterm256 --line-numbers --quiet --force --style zenburn"
alias ag='ag -p ~/.ignore'

alias -g J='| jq'
