#!/bin/sh

export EDITOR="vi"
export APK_DIR=build/outputs/apk/release
export TASKDATA=$HOME/Dropbox/apps/taskwarrior
export BACKUPS=$HOME/Dropbox/backups
export NOSENTRY=1
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'
export LESSOPEN="| $(which highlight) %s --out-format xterm256 --line-numbers --quiet --force --style zenburn"
export LESS=' -R'
export FZF_DEFAULT_OPTS='--reverse --ansi'
