#!/bin/sh

function android-version() {
  ~/Library/Android/sdk/build-tools/25.0.1/aapt dump badging $1 | grep version
}

function ctx() {
  if [ -z "$1" ]; then
    kubectl config get-contexts
  else
    kubectl config use-context $1
  fi
}

function reload-zsh() {
  # Clear all functions and aliases first so they reload
  unhash -mf "*"
  unhash -ma "*"

  source ~/.zshrc
}

function plogcat() {
  local pid=$(adb shell ps | rg "$1" | cut -c10-15)
  adb logcat | rg "$pid"
}

function pyenv() {
  source "$HOME/virtualenvs/$1/bin/activate"
}

function cs() {
  open -a "Google Chrome" "https://devhints.io/$1"
}

function csh() {
  curl https://cheat.sh/$1
}

function fh() {
  print -z $( ([ -n "$ZSH_NAME" ] && fc -l 1 || history) | fzf +s --tac | sed 's/ *[0-9]* *//')
}

function fco() {
  local tags branches target
  tags=$(git tag | awk '{print "\x1b[31;1mtag\x1b[m\t" $1}') || return
  branches=$(
    git branch --all | grep -v HEAD |
    sed "s/.* //" | sed "s#remotes/[^/]*/##" |
    sort -u | awk '{print "\x1b[34;1mbranch\x1b[m\t" $1}'
  ) || return
  target=$(
    (echo "$tags"; echo "$branches") |
    fzf --no-hscroll --no-multi --delimiter="\t" -n 2 \
        --query "$1" \
        --ansi --preview="git logs -200 $(echo {+2..} | awk '{print ".."$0}') 2>/dev/null || git logs -200 $(echo {+2..} | awk '{print "..origin/"$0}')"
  ) || return

  git checkout $(echo "$target" | awk '{print $2}')
}

function fshow() {
  git logs |
  fzf --ansi --no-sort --reverse --tiebreak=index --bind=ctrl-s:toggle-sort \
      --bind "ctrl-m:execute:
                (grep -o '[a-f0-9]\{7\}' | head -1 |
                xargs -I % sh -c 'git show --color=always % | less -R') << 'FZF-EOF'
                {}
FZF-EOF"
}

function gifenc() {
  local in=$1
  local out=$2
  local scale=$3

  if [ -z "$scale" ]; then
    scale=320
  fi

  palette="/tmp/palette.png"

  filters="fps=30,scale=$scale:-1:flags=lanczos"

  ffmpeg -v warning -i $in -vf "$filters,palettegen" -y $palette
  ffmpeg -v warning -i $in -i $palette -lavfi "$filters [x]; [x][1:v] paletteuse" -y $out
}

function adb-wifi() {
  local port="5555"
  local ip=$(adb shell netcfg | awk 'NR==1{print $3}' | sed -E 's/\/[0-9]+$//g')

  adb tcpip $port
  adb connect $ip:$port
}

